<!-- start showcase -->
<section class="box">
<article id="container">
  <section class="breadcrumb">
    <ul>
      <li class="first"><a href="/" title="Home"><%= image_tag 'ic_home.png', :alt => 'home'  %> </a></li>
      <li><a href="/shopping_cart" title="Shopping Cart">Shopping Cart</a></li>
    </ul>
    <section class="clear"></section>
  </section>

<h1 class="title_cart">My Shopping Cart</h1>

<table class="tabla_cart">
	<thead>
		<tr>
			<th class="col1">Remove</th>
			<th class="izquierda">Item</th>
			<th class="col1">Quantity</th>
			<th class="col4">Price</th>
		</tr>
	</thead>

	<tbody>
		<% total_cart = '0.00' %>
		<% if session[:shopping_cart] %>
			
			<%  session[:shopping_cart].each do |row|  %>
			<tr>
				<td class="centrado"><input type="checkbox"  /></td>
				<td class="izquierda"><%= row[:item] %></td>
				<td class="centrado"><%= row[:quantity] %></td>
				<td class="derecha"><%= row[:price] %></td>
			</tr>
				<% total_cart = total_cart.to_f + row[:price].to_f %>
			<% end %>
		<% else %>
			<tr>
				<th colspan="4" class="notfound">Item Not Found</th>
			</tr>
		<% end %>

	</tbody>

	<tfoot>
		<tr>
			<td colspan="3" class="total_label">Total:</td>
			<td class="total_value">$<%= total_cart %>&nbsp; USD </td>	
		</tr>
	</tfoot>
</table>
<div class="contenedor_boton">
<a href="#" class="button">update</a>
<a href="#" class="button">Checkout</a>
</div>
</article>
</section>
