<!-- start showcase -->
<section class="box">
<article id="container">
  <section class="breadcrumb">
    <ul>
      <li class="first"><a href="/" title="Home"><%= image_tag 'ic_home.png', :alt => 'home'  %> </a></li>
      <li><a href="/shopping_cart" title="Shopping Cart">Shopping Cart</a></li>
    </ul>
    <section class="clear"></section>
  </section>

<h1 class="title_cart">My Shopping Cart</h1>

<table class="tabla_cart">
	<thead>
		<tr>
			<th></th>
			<th>Item</th>
			<th>Quantity</th>
			<th>Price</th>
		</tr>
	</thead>

	<tbody>
		<% total_cart = 0 %>
		<% if session[:shopping_cart] %>
			
			<%  session[:shopping_cart].each do |row|  %>
			<tr>
				<td><input type="radiobutton"  /></td>
				<td><%= row[:item] %></td>
				<td><%= row[:quantity] %></td>
				<td><%= row[:price] %></td>
			</tr>
				<% total_cart = total_cart + row[:price] %>
			<% end %>
		<% else %>
			<tr>
				<td colspan="4">Item Not Found</td>
			</tr>
		<% end %>

	</tbody>

	<tfoot>
		<tr>
			<td colspan="3">Total:</td>
			<td><%= total_cart %></td>	
		</tr>
	</tfoot>
</table>


</article>
</section>
